.home {
  width: 100%;
  align-items: center;
  font-size: bolder;
  background-color: white !important; 
  background-image: url(../assets/violetDrops1.jpg) ; 
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  z-index: 1;
}

.nameContainer{
  
  text-align: center;
  position: absolute;
  z-index:2;
  transform: translateY(-70%);
 
}
.text1{
  font-size: 120px;
  letter-spacing: 5px;
  color:orange;
  font-weight: bolder;
  position: relative;
  text-shadow: 6px 6px 6px #000000;
}
.text2{
  font-size:70px;
  color:orange;
  font-weight: bolder;
  margin-top:-35px;
  letter-spacing: 5px;
  animation: text 3s 1;
  text-shadow: 6px 6px 6px #000000;
}

@keyframes text{
  0%{
    color:rgb(92, 95, 226);
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
    color:rgb(92, 95, 226);
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }

}

.about span{
  display:block;
}

.textCanvas {
  width: 100vw;
  height: 100vh;
  min-height:  900px;
  max-height: 1500px;
  transform: translateY(-90px);
  padding-left: 0px;
  z-index:1;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 40px;
  margin: 5px;
  color: white;
}

.skillsTitle{
  color: #0c0c53;
  min-height:500px;
  
}


.skillsTitle h1{
width: 250px;
background-color:rgb(92, 95, 226) ;
border-top-right-radius:20px;
display: inline-block;
padding-right: 1200px;
border-bottom: 5px solid ;
font-size: 30px;
text-align: left;
font-family: 'Bebas Neue', cursive;
margin-top: -30px;
text-indent:10px;
}


.buttons{
  width:100px;
  height: 30px;
  margin: 5px;
  margin-top: 30px;
  cursor: pointer;
  color: rgb(206, 65, 119);
  border-radius: 20px;
  font-weight: bolder;
  border: none;
  box-shadow: inset 1px -5px 1px 1px rgba(0, 0, 0, 0.2);
  transition:0.1s;
  text-shadow: 0px 1px   rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}
.buttons:hover{
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}
.buttons:active{
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
}
.buttons:nth-child(1){
  background:#d19feb;
}
.buttons:nth-child(2){
  background:#fffd9d;
}
.buttons:nth-child(3){
  background:#f7d08c; ;
}
.buttons:nth-child(4){
  background:#bfed82;
}


.list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left:0;
  grid-gap:10px;
  padding: 0 200px 0 200px;
  
}
.skills-container{
  overflow: hidden;
  padding-bottom: 20px;
  color: rgb(37, 194, 241);
  border-radius: 10px;
  height: 100%;
  
}
.skills-con{
 
  margin-top: 15px;
  transition:all .3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, #ece6f3 0%, #ace0f9 100%);
}
#ReactJS{
  color: #009efd;
}
#CSS>svg{
  color: #2e52f3;
}
#HTML>svg{
  color: #f89c11;

}
#Javascript>svg{
  color: #b8bb19f6;

}
#Java>svg{
  color: rgb(240, 125, 125)

}
#SQL>svg{
  color: #009efd;
}
#MongoDB>svg{
  color:#07a807
}
#NodeJS>svg{
  color:#a8dba8
}
.skills-con:hover{
  transform: scale(1.05);
}
.skills-container >h6 svg{
  width:100%;
  height: 50px;
  margin-top: 15px;
  color: #009efd;
}


.Experience {
  margin-top: 120px;

  
}
.Experience h1{
  background-color: #4fc1e9;
  transform: translateY(4px);
  border-top-right-radius:20px;
  display: inline-block;
  padding-right: 1200px;
  border-bottom: 5px solid ;
  font-size: 30px;
  width: 250px;
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  text-indent:10px;
}

.Canvas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 120px;
}

.Canvas_About_Text{
  width: 100%;
  padding-bottom: 50px ;
  color: #000005;
}
.Canvas_About_Text h1{
  background-color: #5be7c4;
  border-top-right-radius:20px;
  display: inline-block;
  padding-right: 1200px;
  border-bottom: 5px solid ;
  font-size: 30px;
  width: 250px;
  text-align: left;
  white-space: nowrap;
  font-family: 'Bebas Neue', cursive;
  text-indent:10px;
}
.Canvas_About_Text >p {
  font-size: 20px;
  margin-top: 20px;
}
.Canvas_Model{
  width: 600px;
  height: 600px;
  touch-action: none;
  position: absolute;
  margin: auto;
  cursor: grabbing;
  border-radius: 50%;
  overflow: hidden;
  

 
}
.Circle{
  width:600px;
  height: 600px;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border:2px ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
}
.Circle::before{
  content: '';
  width:590px;
  height: 590px;
  border-radius: 50%;
  animation: animate 6s linear infinite;
  box-shadow: 10px 10px 20px #69f794;
}
@keyframes animate {
  from {
  transform: rotate(0deg)
  }
  to {
     transform: rotate(360deg)
  }
  
}
@media only screen and (max-width: 1050px) {
  .textCanvas {
    width:1200px;
  }
  .Experience h1{
    width: 270px;
  }

  .list{
    padding:0;
  }
  .Canvas_About_Text h1{
    width: 270px;
  }

}

@media only screen and (max-width: 800px) {
  .text1{
    font-size: 100px ;
  }
  .text2{
    font-size: 50px ;
  }
  .Circle::before{
    content: '';
    animation: animate 7s linear infinite;
  }
  .textCanvas {
    padding-right: 100px;
    width: 1000px;
  }
  .Canvas_Model{
    overflow: hidden;
  }
}
@media only screen and (max-width: 700px) {

  .text1{
    font-size: 90px ;
  }
  .text2{
    font-size: 50px ;
    margin-top: 1px;
  }
}
@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }
  .textCanvas {
    width: 790px;
    padding-right: 100px;
  }
  .text1{
    font-size: 80px ;
  }
  .text2{
    font-size: 40px ;
    margin-top: 1px;
  }
  .skills {
    text-align: center;
  }


  .skills h2 {
    font-size: 30px;
  }
  .Experience h1{
    border-bottom: 5px solid ;
  }
  .skillsTitle h1{
    border-bottom: 5px solid ;
  }
  .Canvas_About_Text h1{
    border-bottom: 5px solid ;
  }

  .Circle{
    width:400px;
    height: 400px; 
  }
  .Circle::before{
    content: '';
    width:350px;
    height: 350px;
    border-radius: 50%;
    animation: animate 5s linear infinite;
  }
  
  .Canvas_Model{
    width: 300px;
    height: 300px;
    overflow: hidden;
   
  }
  @media only screen and (max-width: 505px) {
    .text1{
      font-size: 60px ;
    }
    .text2{
      font-size: 40px ;
      margin-top: 1px;
    }
  }
  @media only screen and (max-width: 450px) {

    .textCanvas {
      width: 650px;
      padding-right: 100px;
    }
    .text1{
      font-size: 50px ;
      top:-100px;
    }
    .text2{
      font-size: 40px;
      transform: translateY(-100px);
    }
    
    
    .buttons{
      width: 80px;
    }
    .Canvas_About_Text h1{
      font-size: 29.5px ;
    }
    .Circle{
      width:350px;
      height: 350px; 
    }
    .Circle::before{
      content: '';
      width:300px;
      height: 300px;
      border-radius: 50%;
      animation: animate 6s linear infinite;
    }

  }

  @media only screen and (max-width: 340px) {
    .Canvas_About_Text h1{
      font-size: 27px ;
    }
  }

  @media only screen and (max-width: 300px) {
    .list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    } 
  }
}